UNIQUE WORDS IN A SENTENCE

**Problem 1: Given a sentence, identify all unique words and display:**

**Input**

Enter sentence: python is easy and python is powerful

**Expected Output**

Unique words count: 5  
Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

In [5]:
word = input("Enter sentence: ")
n = word.split()
n = set(n)
print("Unique words count: ",len(n))
print("Unique words: ",n)

Enter sentence: Python is easy and powerful
Unique words count:  5
Unique words:  {'is', 'easy', 'and', 'powerful', 'Python'}

HIGHEST SALARY FROM EMPLOYEE DATA

**Problem 2: Highest Salary from Employee Data**

Store employee names and their salaries, and determine which employee has the highest salary.

**Input**

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

**Expected Output**

Highest Salary: Ravi - 75000

In [6]:
dic = {}
n = int(input())
for i in range(n):
  name = input()
  salary = int(input())
  dic[name] = salary
list_keys = list(dic.keys())
list_values = list(dic.values())
index = list_values.index(max(list_values))
print(f"Highest Salary: {list_keys[index]}-{list_values[index]}")

3
Ravi
75000
Anita
68000
Kiran
72000
Highest Salary: Ravi-75000

FIND MAXIMUM AND MINIMUM

**Problem 3: Find Maximum and Minimum Values**

**Input Format**

A list of integers where each element represents a numeric value.
Example Input
numbers = [45, 22, 89, 10, 66]

**Expected Output**
List: [45, 22, 89, 10, 66]  
Max: 89  
Min: 10

In [7]:
n = int(input())
li = []
for i in range(n):
  val = int(input())
  li.append(val)
print(f"List: {li}")
print(f"Max: {max(li)}")
print(f"Min: {min(li)}")

5
45
22
89
10
66
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem Statement 4:
Count how many products have a price greater than 1000. **bold text**

**Input**

prices = [450, 1200, 899, 1500, 300]

**Expected Output**

Products above 1000: 2

In [1]:
n = int(input())
prices = []
for i in range(n):
  val = int(input())
  prices.append(val)
count = 0
for i in prices:
  if(i>1000):
    count+=1
print(f"Products above 1000: {count}")

5
450
1200
899
1500
300
Products above 1000: 2

**Problem 5: Calculate Attendance Percentage**

Problem Statement

Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

**Input**

attendance = ["P", "P", "A", "P", "P"]

**Expected Output**

Attendance Percentage: 80.0

In [7]:
n = int(input())
attendence = []
for i in range(n):
  val = input()
  attendence.append(val)
count_present = 0
for i in attendence:
  if i=="P":
    count_present+=1
print(count_present)
print(f"Attendence Percentage: {(count_present/len(attendence))*100:.2f}")

5
P
P
A
P
P
4
Attendence Percentage: 80.00

**Problem 6: Remove Duplicate Phone Numbers**

**Example Input**

phone_numbers = [9876543210, 9123456789, 9876543210]

**Expected Output**

Unique phone numbers: {9876543210, 9123456789}

In [8]:
n = int(input())
phone_num = []
for i in range(n):
  val = int(input())
  phone_num.append(val)
print(f"Unique phone numbers: {set(phone_num)}")

3
9876543210
9876543210
9123456789
Unique phone numbers: {9876543210, 9123456789}

**Problem 7: Count Character Frequency**

**Expected Output**

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
n = input()
dic = {}
for i in n:
  dic[i] = dic.get(i,0)+1
print(dic)

eshaan
{'e': 1, 's': 1, 'h': 1, 'a': 2, 'n': 1}

**Problem 8: Convert List to Tuple**

**Expected Output**

Tuple: (10, 20, 30)

In [12]:
n = int(input())
li = []
for i in range(n):
  val = int(input())
  li.append(val)
print(f"Tuple: {tuple(li)}")

3
10
20
30
Tuple: (10, 20, 30)

**Problem 9: Check if a Key Exists in a Dictionary**

Problem Statement
Check whether a specific key exists in a dictionary.

**Expected Output**

Employee exists

In [13]:
n = int(input())
dic = {}
for i in range(n):
  emp = input()
  salary = int(input())
  dic[emp] = salary
check = input()
if(check in dic):
  print("Employee exists")
else:
  print("No such Key")

3
Eshaan
75000
Rashmi
50000
Manasi
40000
Eshaan
Employee exists

**Problem 10: Calculate Average Marks**

**Expected Output**

Average Marks: 72.5

In [15]:
n = int(input())
li = []
for i in range(n):
  marks = float(input())
  li.append(marks)
print(f"Average Marks: {sum(li)/n:.2f}")

5
92.5
67
87
90
75
Average Marks: 82.30